.navbar-logo {
    /* Set a maximum width for the logo */
    max-width: 80px; /* Adjust this value as needed */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .navbar-logo {
        /* Increase the size of the logo for larger screens */
        max-width: 120px; /* Adjust this value as needed */
    }
}

/* Center the logo vertically within the navbar */
.navbar-brand {
    display: flex;
    align-items: center;
}

/* Optional: Adjust logo position */
.navbar-brand img {
    margin-right: 10px; /* Adjust the right margin as needed */
}

body {
    background-color: #f4f4f4;
}
.thank-you-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container {

    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

p {
    color: #333;
    margin-bottom: 20px;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;

}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-image {
    background: url('../img/ulmenweg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}


.overlay-content {
    position: relative;
    z-index: 1;
}

.text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
}

.modal-dialog {
    max-width: 200px;
}

.modal-title {
    font-size: 20px;
}
