.navbar-logo {
    /* Set a maximum width for the logo */
    max-width: 80px; /* Adjust this value as needed */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .navbar-logo {
        /* Increase the size of the logo for larger screens */
        max-width: 120px; /* Adjust this value as needed */
    }
}

/* Center the logo vertically within the navbar */
.navbar-brand {
    display: flex;
    align-items: center;
}

/* Custom class to adjust the position of the dropdown menu */
.dropdown-menu-left {
    transform: translateX(-50%); /* Adjust this value as needed */
    left: 0 !important;
    right: auto !important;
}

/* Navbar styling for larger screens */
.navbar .collapse {
    display: flex !important;
}


/* Collapsible elements hide on smaller screens */
@media (max-width: 767.98px) {
    .navbar-nav {
        display: none !important;
    }
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    overflow-y: auto;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #343a40;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar-header {
    padding: 15px;
    background: #343a40;
}

.sidebar .components {
    padding: 0;
}

.sidebar .components li {
    padding: 10px;
}

.sidebar .components li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

.sidebar .components li a:hover {
    background: #00929d;
    color: #ffffff;
}

.sidebar .dropdown-menu {
    background: #343a40;
}

.sidebar .dropdown-menu a {
    color: #ffffff;
}

.sidebar .dropdown-menu a:hover {
    background: #00929d;
}

.sidebar.show {
    left: 0;
}

/* Hide the sidebar on larger screens */
@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
}

/* CSS for sidebar toggling animation */
.navbar-toggler-icon {
    transition: transform 0.3s ease;
}

/* CSS for changing hamburger icon to X */
.open .navbar-toggler-icon {
    transform: rotate(90deg);
}

body {
    background-color: #f4f4f4;
}

@media (max-width: 767.98px) {
    .navbar .form-control {
        width: 100%;
    }
    .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navbar-nav .nav-item {
        flex: 1 1 auto;
    }
}

.container-fluid.mt-2 {
    padding-top: 10px;
}

.thank-you-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container {

    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

p {
    color: #333;
    margin-bottom: 20px;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;

}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-image {
    background: url('../img/ulmenweg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
   
}

.overlay-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
}

.modal-dialog {
    max-width: 200px;
}

.modal-title {
    font-size: 20px;
}
