.navbar-logo {
    /* Set a maximum width for the logo */
    max-width: 80px; /* Adjust this value as needed */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .navbar-logo {
        /* Increase the size of the logo for larger screens */
        max-width: 120px; /* Adjust this value as needed */
    }
}

/* Center the logo vertically within the navbar */
.navbar-brand {
    display: flex;
    align-items: center;
}

/* Optional: Adjust logo position */
.navbar-brand img {
    margin-right: 10px; /* Adjust the right margin as needed */
}

body {
    background-color: #f4f4f4;
}
.thank-you-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p {
    color: #333;
    margin-bottom: 20px;
}